<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="datePat" value="HH:mm:ss,SSS"/>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{${datePat}} %-5p [%c{3}] %m%n</pattern>
		</encoder>
	</appender>
	<appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
		<File>test-java.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>testLogger.info("Start Logging for the "+param); %-5p [%c] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>test-java.log.%d</fileNamePattern>
		</rollingPolicy>
	</appender>
	<logger name="laz2.test" level="debug" />

	<!-- Hibernate -->
	<logger name="org.hibernate" level="error" />
	<logger name="org.hibernate.hql.ast.AST" level="error" />
	<logger name="org.hibernate.hql" level="error" />
	<logger name="org.hibernate.SQL" level="debug" />
	<logger name="org.hibernate.type" level="error" />
	<logger name="org.hibernate.tool.hbm2ddl" level="error" />
	<logger name="org.hibernate.cache" level="error" />
	<logger name="org.hibernate.jdbc" level="error" />
</configuration>
